{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    {% for item in authors %}
<div class="mb-3 m-5 shadow-none p-3 mb-5 bg-light rounded" style="max-width: 940px;">
    <div class="row p-4">
      <div class="col-3">
        {% if item.img_Avtor %}
            <img src="{{ item.img_Avtor.url }}" class="img-fluid rounded-start" width="200px" alt="...">
        {% else %}
            <img src="{% static 'down/image/author.webp'%}" width="200px" class="img-fluid rounded-start" alt="...">
        {% endif %}
        <p class="text-center">({{ item.year_avtor}}г)</p>
      </div>
      <div class="col-9">
        <div class="card-body">
          <a class="text-decoration-none text" href="{% url 'avtors' id=item.info %}">{{ item.title }}</a>
          <p class="card-text">{{ item.avtor }}</p> 
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}