{% extends 'base.html' %}
{% block title %}| Добавление{% endblock title %}
{% block content %}

<div class="album py-5 bg-light">
    <div class="container py-5">  
        <h3 class="mb-5 text-center">Добавление </h3>
        {% comment %} action="{% url 'create_books' %}" {% endcomment %}
        <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 mb-3">
                    <label for="id_title">Заголовок <span class="text-danger">*</span></label>
                    <input type="text" name="title" id="id_title" class="form-control" required>
                </div> 
                <div class="col-md-6 col-12">
                    <label for="id_iamge">Изображение <span class="text-danger">*</span></label>
                    <input type="file" name="image" class="form-control" id="id_iamge" required>
                </div>

                 <div class="col-md-6 col-12">
                    <label for="id_iamge">Файл <span class="text-danger">*</span></label>
                    <input type="file" name="file" class="form-control" id="id_file" required>
                </div> 
                <div class="col-md-6 col-12">
                    <label for="id_category">Категория <span class="text-danger">*</span></label>
                    <select name="author" class="form-control" id="id_category required">
                        <option disabled >Выберите author</option>
                        {% for category in author %}
                            <option value="{{ category.id }}">{{ category.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12 mb-3">
                    <label for="id_title">Desc <span class="text-danger">*</span></label>
                    <input type="text" name="description" id="id_title" class="form-control" required>
                </div> 
                <div class="col-md-6 col-12">
                    <label for="id_category">Категория <span class="text-danger">*</span></label>
                    <select name="category" class="form-control" id="id_category required">
                        <option disabled >Выберите категорию</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="d-grid gap-2 col-6 mx-auto p-3">
                    <button class="btn btn-primary" type="submit">Добавить</button>
                  </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}